body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background: url('./img/edeb-fondo.png') no-repeat center center fixed;
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

h1{
  color: #58595b;
}
  
  header {
    background-color: transparent;
    color: black;
    text-align: center;
    padding: 15px;
  }
  
  /* Estilos para pantallas grandes */
.botones {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: flex;
  margin-bottom: 50px;
}

.boton {
  margin-right: 10px;
  text-decoration: none;
  border-radius: 100px;
  padding: 10px 20px;
  font-size: 14px;
  flex-shrink: 0;
}

/* Media query para pantallas más pequeñas, como dispositivos móviles */


  .boton-texto-A {
    font-size: 32px;
    position: absolute;
    bottom: 10px;
    left: 100px;
    transform: translateX(-50%);
    color: #fff; /* Cambia el color del texto según tu preferencia */
  }
  .boton-texto-L {
    font-size: 32px;
    position: absolute;
    bottom: 10px;
    left: 320px;
    transform: translateX(-50%);
    color: #fff; /* Cambia el color del texto según tu preferencia */
  }
  .boton-texto-V {
    font-size: 32px;
    position: absolute;
    bottom: 10px;
    left: 530px;
    transform: translateX(-50%);
    color: #fff; /* Cambia el color del texto según tu preferencia */
  }
  
  
  .boton img {
    border: 2px solid #333;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
  }
  
  .boton img:hover {
    transform: scale(1.05);
  }
  

.logo-eden {
    
    max-width: 40%; /* Ajusta según tu diseño */
    max-height: 100vh; /* Ajusta según tu diseño */
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 30%;
  }
  
  #logo-eden  {
    width: 100%;
    height: auto;
    
    
    
  }
  @media (max-width: 768px) {
    .botones {
        flex-direction: column; /* Cambia la dirección del eje principal para apilar los botones verticalmente */
        align-items: flex-end; /* Alinea los botones a la derecha en lugar de al centro */
        bottom: 10px; /* Ajusta la posición vertical según sea necesario */
        right: 10px; /* Ajusta la posición horizontal según sea necesario */
        margin-bottom: 20px; /* Ajusta el margen inferior según sea necesario */
    }
  
    .boton {
      margin-top: -30px;
        margin-right: 0; /* Elimina el margen derecho para que no haya espacio entre los botones apilados */
        margin-bottom: 10px; /* Agrega margen inferior para separar los botones apilados */
        text-align: center; /* Centra el texto en los botones apilados */
    }
    .logo-eden {
    
      max-width: 40%; /* Ajusta según tu diseño */
      max-height: 100vh; /* Ajusta según tu diseño */
      margin: auto;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: 1%;

    }
    .boton-texto-A {
      font-size: 32px;
      position: absolute;
      bottom: 10px;
      left: 100px;
      top: 170px;
      transform: translateX(-50%);
      color: #fff; /* Cambia el color del texto según tu preferencia */
    }
    .boton-texto-L {
      font-size: 32px;
      position: absolute;
      bottom: 10px;
      left: 100px;
      top: 400px;
      transform: translateX(-50%);
      color: #fff; /* Cambia el color del texto según tu preferencia */
    }
    .boton-texto-V {
      font-size: 32px;
      position: absolute;
      bottom: 10px;
      left: 100px;
      top:620px;
      transform: translateX(-50%);
      color: #fff; /* Cambia el color del texto según tu preferencia */
    }

  }
  

  /*BARRA DE NAVEGACION___________________________________________________*/
  
.nav_bar {
    background-color: transparent;
      height: 87px;
      display: flex;
      justify-content: center;
      align-items: center;
  
    }
    nav a {
      color: black;
      text-decoration: none;
      font-size: 16px;
      margin: 0 51px;
  }
  
  /* Estilos para dispositivos móviles */
  @media only screen and (max-width: 600px) {
      nav {
        margin-top: 20px;
        height: 0px;
          flex-direction: column;
          height: auto;
      }
  
      nav a {
  
          margin: 5px 0;
      }
  }
    