body {
    background-image: url('/assets/tariija1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    height: 100vh; 
    width: 100vw; 
    font-family: Arial, sans-serif;
}
nav{
    color: white;
}

h1{
    width: 494px;
    height: 112px;
    flex-shrink: 0;
    color: #FFF;
    font-family: Inter;
    font-size: 80px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left:  50px;
    top:50px;
    
    }
p{
    color: rgba(255, 255, 255, 0.87);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 589px;
    margin-left:  50px;
}

.ATRAS{
    width: 137px;
    height: 46px;
    flex-shrink: 0;
    border-radius: 3px;
    background: rgba(255, 188, 0, 0.90);
    margin-left:  250px;
    
}

.Destinos{
    width: 240px;
    height: 255px;
    flex-shrink: 0;
    border-radius: 15px;
    background: url(../assets/oruro1.png), lightgray 50% / cover no-repeat;
    box-shadow: 1px 1px 2px 0px rgba(40, 141, 157, 0.39);
}


.botones {
    display: flex;
    justify-content: center; /* Centra los botones horizontalmente */
    width: 90%;
    gap: 10px; /* Espacio entre los botones */
}

/* Estilos para todos los botones */
button {
    width: 219px;
    height: 258px;
    flex-shrink: 0;
    border-radius: 15px;
    background-size: cover;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.25);
}

/* Estilos específicos para cada botón */
.primerimagen {
    margin-left: 120%;
    background: url('../assets/oruro2.png'), lightgray 50% / cover no-repeat;
}

.segundaimagen {
    margin-left: 120%;
    background: url('../assets/oruro3.png'), lightgray 50% / cover no-repeat;
}

.terceraimagen {
    margin-left: 120%;
    background: url('../assets/tarija3.png'), lightgray 50% / cover no-repeat;
}


/* styles/navbar.css */

.nav_bar {
    list-style-type: none;
    margin: 20px 0;
    padding: 0;
    background-color: #ffffff39;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.nav_bar a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: background-color 0.3s;
}

.nav_bar a:hover {
    background-color: rgba(255, 187, 0, 0.459);
}

  